extends layout 

block content 
    div(class='container')
        form(action=`/${id}`, method='post', enctype='application/x-www-form-urlencoded')
            div(class='input')
                label(for='name') Name 
                input(type='text', id='name', name='name', value=`${currentData.name}`)
            div(class='input') 
                label(for='category') Category
                select(id='category', name='category')
                    each category of categoriesList 
                        if category === currentData.category
                            option(selected)= category
                        else 
                            option= category
            div(class='input')
                label(for='price') Price
                input(type='number', id='price', name='price', min='0', value=`${currentData.price}`, step='.01')
            div(class='input')
                label(for='quantityInStock') Quantity
                input(type='number', id='quantityInStock', name='quantityInStock', min='0', value=`${currentData.quantityInStock}`)
                br
                div(class='buttons')
                    button(type='submit', id='submit-btn', name='submitButton', class='form-btn') Update
                    a(href='/', class='form-btn') Cancel
