extends layout 

block content 
    div(class='menu')
        a(href='/') Product list
    if list.length > 0 
        div(class='table')
            table 
                tr
                    th(class='table-header-cell') Category
                    th(class='table-header-cell') Average price
                    th(class='table-header-cell') Total number
                    th(class='table-header-cell') Total price
                    th(class='table-header-cell') Minimum price
                    th(class='table-header-cell') Maximum price
                each item in list
                    - const { _id, avgProductPrice, numOfProducts, totalProductsPrice, minPrice, maxPrice } = item
                    tr
                        td(class='table-cell')= _id
                        td(class='table-cell')= avgProductPrice.toFixed(2)
                        td(class='table-cell')= numOfProducts
                        td(class='table-cell')= totalProductsPrice.sum.toFixed(2)
                        td(class='table-cell')= minPrice.toFixed(2)
                        td(class='table-cell')= maxPrice.toFixed(2)
    else 
        h1 No products
