extends layout 

block content 
    script
        include ../public/scripts/scripts.js
    div(class='menu')
        a(href='/statistics') Statistics
        a(href='/create') Add product
    if list.length > 0 
        div(class='table')
            table 
                tr
                    th(class='table-header-cell') Name
                    th(class='table-header-cell') Category
                    th(class='table-header-cell') Price
                    th(class='table-header-cell') Quantity in stock
                each item in list
                    - const { _id, name, category, price, quantityInStock } = item
                    tr
                        td(class='table-cell')= name
                        td(class='table-cell')= category
                        td(class='table-cell')= price
                        td(class='table-cell')= quantityInStock
                        td
                            button(type='button', id='update-btn', onclick=`update('${_id}')`) Update
                        td
                            button(type='button', id='delete-btn', onclick=`remove('${_id}')`) Delete
    else 
        h1 No products
