.menu {
    margin: 20px 0;
}

.menu a {
    padding: 10px 10px;
    text-decoration: none;
}

a {
    color: black;
    background-color: #D9D9D9;
    border: 1px solid #AFAEAE;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

a:active {
    background-color: #E7E7E7;
    border: 1px solid #CDCCCC;
}

table {
    border-collapse: collapse;
    position: relative;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.table {
    text-align: left;
    border-collapse: separate;
    border-spacing: 1px;  
}

.table-header-cell {
    text-align: left;
    font-weight: normal;
    padding: 5px;
    border: 1px solid black; 
    background: #D9D9D9; 
}
  
.table-cell {
    padding: 5px;
    border: 1px solid black; 
}

table button {
    text-decoration: none;
    opacity: 0.6;
    background: #D9D9D9;
    width: 80px;
    height: 30px;
    border: 1px solid #969595;
}

table button:hover {
    opacity: 1;
    background: #D9D9D9;
    width: 80px;
    height: 30px;
    border: 1px solid #969595;
}

.container {
    padding: 16px;
    width:400px;
    height: 450px;
    margin: 250px auto 0 auto;
    text-align: center;
}

input[type='text'], input[type='number'], select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

select {
    width: 108%;
}

.buttons {
    margin: 20px 0;
}

.form-btn {
    display: inline-block;
    padding: 5px 20px; 
    text-decoration: none; 
    background: #D9D9D9; 
    border: 1px solid #AFAEAE;
    font: 14px/1 Arial, sans-serif; 
    color: black; 
}

h1 {
    width: 400px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    background: #D9D9D9;
    border: 1px solid #AFAEAE;
    text-align: center;
    padding-top: 30px;
    font: 26px/1 Arial, sans-serif;
    color: black; 
}
